@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height:100vh;
}

.ql-editor {
    font-size: 1.05rem;
}

.post-content {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.dark .post-content a{
    color: ivory;
}

.home {
background-color: #faf4e3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b2b0aa' fill-opacity='0.36' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}